In [ ]:
# !pip install --force-reinstall ibm_db==3.1.0 ibm_db_sa==0.3.3
# Ensure we don't load_ext with sqlalchemy>=1.4 (incompadible)
# !pip uninstall sqlalchemy==1.4 -y && pip install sqlalchemy==1.3.24
# !pip install ipython-sql

In [2]:
%load_ext sql

In [3]:
# Remember the connection string is of the format:
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name?security=SSL
# Enter the connection string for your Db2 on Cloud database instance below

%sql ibm_db_sa://

'Connected: bls44444@BLUDB'


### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [3]:
%sql select count(distinct case_number) from chicagocrimedata;

 * ibm_db_sa://bls44444:***@19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30699/BLUDB
Done.

[(533,)]

### Problem 2

##### List community areas with per capita income less than 11000.

In [4]:
%sql select community_area_name from CHICAGOCENSUSDATA \
    where per_capita_income < 11000

 * ibm_db_sa://bls44444:***@19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30699/BLUDB
Done.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]

### Problem 3

##### List all case numbers for crimes  involving minors?(children are not considered minors for the purposes of crime analysis)

In [4]:

%sql select case_number from CHICAGOCRIMEDATA where description like '%MINOR%'

 * ibm_db_sa://bls44444:***@19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30699/BLUDB
Done.

[('HL266884',), ('HK238408',)]

### Problem 4

##### List all kidnapping crimes involving a child?

In [27]:
%sql select * from CHICAGOCRIMEDATA where description like '%CHILD%' and primary_type like '%KIDNAPPING%'

 * ibm_db_sa://bls44444:***@19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30699/BLUDB
Done.

[(5276766, 'HN144152', datetime.date(2007, 1, 26), '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 'FALSE', 'FALSE', 1533, 15, 29, 25, '20', 1143050, 1897546, 2007, Decimal('41.87490841'), Decimal('-87.75024931'), '(41.874908413, -87.750249307)')]

### Problem 5

##### What kinds of crimes were recorded at schools?

In [36]:
%sql select distinct primary_type from chicagocrimedata where location_description like '%SCHOOL%'

 * ibm_db_sa://bls44444:***@19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30699/BLUDB
Done.

[('ASSAULT',),
 ('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('CRIMINAL TRESPA',),
 ('NARCOTICS',),
 ('PUBLIC PEACE VI',)]

### Problem 6

##### List the average safety score for each type of school.

In [48]:
 %sql select "Elementary, Middle, or High School" , avg(SAFETY_SCORE) as Average_Safety_Score  from chicagopublicschools \
         group by "Elementary, Middle, or High School"

 * ibm_db_sa://bls44444:***@19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30699/BLUDB
Done.

[('ES', 49), ('HS', 49), ('MS', 48)]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [56]:
%sql select community_area_name, percent_households_below_poverty from CHICAGOCENSUSDATA \
        order by 2 desc \
        limit 5

 * ibm_db_sa://bls44444:***@19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30699/BLUDB
Done.

[('Riverdale', Decimal('56.5')),
 ('Fuller Park', Decimal('51.2')),
 ('Englewood', Decimal('46.6')),
 ('North Lawndale', Decimal('43.1')),
 ('East Garfield Park', Decimal('42.4'))]

### Problem 8

##### Which community area is most crime prone?

In [88]:
%sql select CCE.community_area_name, count(distinct CCD.case_number) as Total_Cases from CHICAGOCRIMEDATA CCD \
        join CHICAGOCENSUSDATA CCE  \
        on CCD.community_area_number = CCE.community_area_number  \
        Group by  CCE.community_area_name  \
        order by 2 desc   \
        limit 1

 * ibm_db_sa://bls44444:***@19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30699/BLUDB
Done.

[('Austin', 43)]

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [90]:
%sql select community_area_name from CHICAGOCENSUSDATA \
     where hardship_index = (select max(hardship_index) from CHICAGOCENSUSDATA)

 * ibm_db_sa://bls44444:***@19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30699/BLUDB
Done.

[('Riverdale',)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [121]:
# %sql select CCE.community_area_name, count(distinct CCD.case_number) as Total_Cases from CHICAGOCRIMEDATA CCD \
#         join CHICAGOCENSUSDATA CCE  \
#         on CCD.community_area_number = CCE.community_area_number  \
#         Group by  CCE.community_area_name  \
#         order by 2 desc   \
#         limit 1

# %sql   select  community_area_name,community_area_number from CHICAGOCENSUSDATA \
#         where community_area_number = (select community_area_number from CHICAGOCRIMEDATA where count(distinct case_number) = 43 )



#%sql select * from CHICAGOCRIMEDATA
#%sql select * from CHICAGOCENSUSDATA


# %sql  select community_area_number from (select community_area_number, count(distinct case_number) as Total_Cases from CHICAGOCRIMEDATA \
#         group by community_area_number \
#         order by 2 desc \
#         fetch first row  only)



# %sql select community_area_name from CHICAGOCENSUSDATA \
#         where community_area_number = (select community_area_number, count(distinct case_number) as Total_Cases from CHICAGOCRIMEDATA \
#         group by community_area_number \
#         order by 2 desc)

%sql select community_area_name from CHICAGOCENSUSDATA \
        where community_area_number = ( select community_area_number from \
        (select community_area_number, count(distinct case_number) as Total_Cases from CHICAGOCRIMEDATA \
        group by community_area_number \
        order by 2 desc \
        fetch first row  only))

 * ibm_db_sa://bls44444:***@19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30699/BLUDB
Done.

[('Austin',)]